.portrait-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 18px 8px 5px;
}

.portrait-img {
  display: flex;
  flex-direction: column;
  margin: 5px;
  cursor: pointer;
  img {
    box-shadow: 0 0 5px $primaryColor;
    width: 120px;
    height: 120px;
  }
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
}
