$primaryColor: #eecf46;
$secondaryColor: darken($primaryColor, 15);
$backgroundColor: #282c34;
$textColor: #d4eaf0;
$counterRowHeight: 2.3rem;

$redTechColor: rgb(199, 64, 64);
$greenTechColor: rgb(120, 211, 92);
$blueTechColor: rgb(59, 59, 255);
$yellowTechColor: rgb(235, 235, 75);
