@import 'variables';
@import 'strategy_carousel';
@import 'images';

$theme-colors: (
  'primary': $secondaryColor,
);

@import '../../node_modules/bootstrap/scss/bootstrap';

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Header {
  height: 15vh;
  background: url('../../public/ti-background.jpeg') no-repeat fixed;
  background-size: 100% 100%;
  font-size: calc(10px + 5vmin);
  font-family: 'CopperPlate';
  display: flex;
  flex-direction: row;
  overflow: hidden;
  color: $secondaryColor;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.Footer {
  position: auto;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  color: $textColor;
  font-size: 12px;
  padding-top: 8px;
  a {
    color: $secondaryColor;
  }
  a:hover {
    color: darken($textColor, 20);
  }
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  color: $textColor;
}
