@import 'variables';
@import 'strategy_carousel';
@import 'images';

$theme-colors: (
  'primary': $primaryColor,
);

@import '../../node_modules/bootstrap/scss/bootstrap';

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.Header {
  height: 15vh;
  background: url('../../public/ti-background.jpeg') no-repeat fixed;
  background-size: 100% 100%;
  font-size: calc(10px + 5vmin);
  font-family: 'CopperPlate';
  display: flex;
  flex-direction: row;
  overflow: hidden;
  color: $primaryColor;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black,
    0px 0px 15px darken($secondaryColor, 30);
}

.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3vh;
  font-size: 12px;
  background-color: $backgroundColor;
  padding-top: 5px;
  text-align: center;
  box-shadow: 0 0 15px 15px $backgroundColor;
  a {
    color: $primaryColor;
  }
  a:hover {
    color: darken($textColor, 20);
  }
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px 2px $secondaryColor;
}

body {
  color: $textColor;
  min-height: 100vh;
  display: flex;
  align-items: stretch;
}

.home-div {
  display: flex;
  flex-direction: column;
  width: 88%;
  padding: 10px;
  a {
    color: $primaryColor;
  }
  a:hover {
    color: darken($textColor, 20);
  }
}
